.firebug {
	margin: 0;
	background: #FFFFD7;
	font-family: Lucida Grande, Tahoma, sans-serif;
	font-size: 11px;
	overflow: hidden;
	border: 1px solid black;
	position: relative;
}

.firebug a {
	text-decoration: none;
}

.firebug a:hover {
	text-decoration: underline;
}

.firebug #firebugToolbar {
	height: 14px;
	border-top: 1px solid ThreeDHighlight;
	border-bottom: 1px solid ThreeDShadow;
	padding: 2px 6px;
	background: ThreeDFace;
}

.firebug .firebugToolbarRight {
	position: absolute;
	top: 4px;
	right: 6px;
}

.firebug #firebugLog {
	overflow: auto;
	position: absolute;
	left: 0;
	width: 100%;
}

.firebug #firebugCommandLine {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 18px;
	border: none;
	border-top: 1px solid ThreeDShadow;
}

/************************************************************************************************/

.firebug .logRow {
	position: relative;
	border-bottom: 1px solid #D7D7D7;
	padding: 2px 4px 1px 6px;
	background-color: #FFFFFF;
}

.firebug .logRow-command {
	font-family: Monaco, monospace;
	color: blue;
}

.firebug .objectBox-null {
	padding: 0 2px;
	border: 1px solid #666666;
	background-color: #888888;
	color: #FFFFFF;
}

.firebug .objectBox-string {
	font-family: Monaco, monospace;
	color: red;
	white-space: pre;
}

.firebug .objectBox-number {
	color: #000088;
}

.firebug .objectBox-function {
	font-family: Monaco, monospace;
	color: DarkGreen;
}

.firebug .objectBox-object {
	color: DarkGreen;
	font-weight: bold;
}

/************************************************************************************************/

.firebug .logRow-info,
.firebug .logRow-error,
.firebug .logRow-warning {
	background: #FFFFFF no-repeat 2px 2px;
	padding-left: 20px;
	padding-bottom: 3px;
}

.firebug .logRow-info {
	background-image: url(infoIcon.png);
}

.firebug .logRow-warning {
	background-color: cyan;
	background-image: url(warningIcon.png);
}

.firebug .logRow-error {
	background-color: LightYellow;
	background-image: url(errorIcon.png);
}

.firebug .errorMessage {
	vertical-align: top;
	color: #FF0000;
}

.firebug .objectBox-sourceLink {
	position: absolute;
	right: 4px;
	top: 2px;
	padding-left: 8px;
	font-family: Lucida Grande, sans-serif;
	font-weight: bold;
	color: #0000FF;
}

/************************************************************************************************/

.firebug .logRow-group {
	background: #EEEEEE;
	border-bottom: none;
}

.firebug .logGroup {
	background: #EEEEEE;
}

.firebug .logGroupBox {
	margin-left: 24px;
	border-top: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
}

/************************************************************************************************/

.firebug .selectorTag,
.firebug .selectorId,
.firebug .selectorClass {
	font-family: Monaco, monospace;
	font-weight: normal;
}

.firebug .selectorTag {
	color: #0000FF;
}

.firebug .selectorId {
	color: DarkBlue;
}

.firebug .selectorClass {
	color: red;
}

/************************************************************************************************/

.firebug .objectBox-element {
	font-family: Monaco, monospace;
	color: #000088;
}

.firebug .nodeChildren {
	margin-left: 16px;
}

.firebug .nodeTag {
	color: blue;
}

.firebug .nodeValue {
	color: #FF0000;
	font-weight: normal;
}

.firebug .nodeText,
.firebug .nodeComment {
	margin: 0 2px;
	vertical-align: top;
}

.firebug .nodeText {
	color: #333333;
}

.firebug .nodeComment {
	color: DarkGreen;
}

/************************************************************************************************/

.firebug .propertyNameCell {
	vertical-align: top;
}

.firebug .propertyName {
	font-weight: bold;
}